body {
 height: 800px;
 width: 100%;
 margin: 0px;
 background-color: #f0f0f0;

}
div.barraEstatica {
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
}
img.logotipo{
  position: fixed;
  top: -15px;
  left: 46.5%;
  width: 85px;
  height: 85px;
  z-index: 3;
}
#pokebola{
 position: fixed;
 top: 2%;
 left: 2%;
 height: 40px;
 width: 40px;
 cursor: pointer;
 z-index: 3;
}
section.navegadorTipos{
 display:flex;
 position: fixed;
 height: 65px;
 width: 100%;
 top: 9%;
 background-color:#d2d2d2;
 justify-content:space-between;
 z-index: 2;
}
img.tipos{
  display: flex;
  position: relative;
  top: 10%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   border-radius: 50px;

}
img.tipos:hover{
  background:#b4b4b4;
  border-radius: 20px;
  color:white;
  width: 55px;
  height: 55px;
}

div.contenedor {
  position: absolute;
  top: 9.5vw;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  height: 1000px;
  width: 1000px;
  max-width: 1200px;
  background-color: white;
  z-index: 1;

}
div.card{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 5px 5px 5px #d2d2d2;
  border-radius: 20%;
  width: 120px;
  height: 120px;
  padding: 6em;
  text-align: center;
  flex-wrap: wrap;
}
button.infoBoton{
border: none;
outline: none;
border-radius: 8px;
background-color: #E0F1EC;
cursor: pointer;
font-size: 1rem;
color: #789189;
text-shadow: 1px 1px 2px #d2d2d2;
padding: .4em;
}
button.infoBoton:hover{
color: #d2d2d2;
background-color: #ed4376;
-moz-transition:  1s ease-out;
-o-transition:  1s ease-out;
transition:  1s ease-out;
}
